## .NET Core / Visual Studio ##
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.nupkg
*.swp
*.lock.json
*.sln.docstates

## IDE / Editors ##
.vscode/
.vs/
.idea/
*.code-workspace

## Build Outputs ##
**/publish/
**/out/
bld/
[Dd]ebug/
[Rr]elease/

## Docker ##
# Only ignore override files and local envs, NOT the actual Dockerfile or docker-compose.yml!
docker-compose.override.yml
**/.env
**/.env.*

## Logs ##
*.log
*.log.*

## Misc ##
.DS_Store
*.bak
*.tmp